.ticket-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'price empty airlines'
    'timeTo durationTo transferTo'
    'timeFrom durationFrom transferFrom';
  max-width: 502px;
  min-height: 184px;
  background: #ffffff;
  box-shadow: 0 2px 8px 0 #0000001a;
  border-radius: 5px;
  gap: 10px;
  //margin-top: 20px;
}

.price {
  grid-area: price;
  color: #2196f3;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  align-self: center;
  margin-left: 15px;
}

.airlines {
  grid-area: airlines;
  margin-left: auto;
}

.info {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.time-to {
  grid-area: timeTo;
  color: #a0b0b9;
  margin-left: 15px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

.duration-to {
  grid-area: durationTo;
  color: #a0b0b9;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

.transfers-to {
  grid-area: transferTo;
  color: #a0b0b9;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

.time-from {
  grid-area: timeFrom;
  color: #a0b0b9;
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

.duration-from {
  grid-area: durationFrom;
  color: #a0b0b9;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

.transfers-from {
  grid-area: transferFrom;
  color: #a0b0b9;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}
