@media screen and (max-width: 767px) {
  .sidebar-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 502px;
    background: #ffffff;
    box-shadow: 0 2px 8px 0 #0000001a;
    border-radius: 5px;
    text-align: left;
    color: #4a4a4a;
  }

  .sidebar-transfers {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
    flex-basis: 100%;
  }

  .sidebar-label {
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 232px;
    height: 252px;
    background: #ffffff;
    box-shadow: 0 2px 8px 0 #0000001a;
    border-radius: 5px;
    text-align: left;
    color: #4a4a4a;
  }

  .sidebar-transfers {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
  }

  .sidebar-label {
    padding-left: 15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
  }
}

.sidebar-label:hover {
  background: #f1fcff;
}

.sidebar-checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #9abbce;
  background-color: white;
  cursor: pointer;
  transform: translate(0%, 40%);
  padding-right: 15px;
}

.sidebar-checkbox:checked {
  background-color: white;
  border: 1px solid #2196f3;
}

.sidebar-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%) rotate(-45deg) scaleX(-1);
  width: 10px;
  height: 5px;
  border: solid #2196f3;
  border-width: 0 2px 2px 0;
}
